body{
    font-family: "Times New Roman", Times, serif;
    color: blue;
    font-size: 12px;
}

div.logo{
    margin: 5px;
    float: left;
    width: 100px;
}

div.logo img{
    width: 100%;
    height: auto;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

li a{
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

.center{
    margin: auto;
    width: 60%;
    padding: 10px;
}

#right{
    text-align: right;
}

.bold{
    font-weight: bold;
}

.italics{
    font-style: italic;
}