body{
    max-width: 960px;
    margin: auto;
}

h1,h2,h3{
    font-family: 'Roboto light', sans-serif;
    font-weight: 300;
}

p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

ul{
    list-style-type: none;
    margin: 0 40px;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

li{
    float: left;
}

li a{
    display: inline-block;
    text-align: center;
    padding: 0 10px 10px 20px;
    text-decoration: none;
    color: black;
}

img#float_left{
    float: left;
    margin: 10px 10px 10px 0;
}

#sidebar1{
    background-color: #DBC9DF;
    color: white;
}

#sidebar2{
    background-color: #782A7E;
    color: white;
}

footer{
    background-color: #363636;
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}