body{
    background-color: #EDF2F4;
    margin-left: auto;
    margin-right: auto;
    font-family: Merriweather;
}

h1{
    font-family: Merriweather;
    text-color: #2B2D42;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #8D99AE;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #EF233C;
}