body{
    background-color: #EDF2F4;
    margin: auto;
    font-family: 'Raleway', sans-serif;
    width: 60%;
}

h2{
    font-family: 'Raleway', sans-serif;
    color: #2B2D42;
    font-size: 4em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #8D99AE;
}

li {
    float: left;
    font-size: 24px;
}

li a {
    display: inline-block;
    text-align: center;
    padding: 0 40px 40px 40px;
    text-decoration: none;
    color: #2B2D42;
}

p{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}